Source: evdi
Section: non-free/kernel
Priority: optional
Maintainer: Jacek Szafarkiewicz <szafar@linux.pl>
Build-Depends: debhelper (>= 9),
 quilt,
 dkms,
 libdrm-dev
Standards-Version: 3.9.8
Homepage: https://github.com/DisplayLink/evdi

Package: evdi
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
 evdi-dkms
Description: Extensible Virtual Display Interface
 The Extensible Virtual Display Interface (EVDI) is a Linux® kernel module that enables management of multiple screens, allowing user-space programs to take control over what happens with the image. It is essentially a virtual display you can add, remove and receive screen updates for, in an application that uses the libevdi library.

Package: evdi-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 evdi
Description: Extensible Virtual Display Interface
 The Extensible Virtual Display Interface (EVDI) is a Linux® kernel module that enables management of multiple screens, allowing user-space programs to take control over what happens with the image. It is essentially a virtual display you can add, remove and receive screen updates for, in an application that uses the libevdi library.
 .
 This package provides the headers.
 
Package: evdi-dkms
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
 dkms
Description: dkms source Extensible Virtual Display Interface
 The Extensible Virtual Display Interface (EVDI) is a Linux® kernel module that enables management of multiple screens, allowing user-space programs to take control over what happens with the image. It is essentially a virtual display you can add, remove and receive screen updates for, in an application that uses the libevdi library.
 .
 This package provides the dkms source code for the evdi kernel modules.
 Kernel source or headers are required to compile these modules.
