#!/usr/bin/make -f

#export DH_VERBOSE=1

VERSION	:= $(shell dpkg-parsechangelog | sed -nr '/^Version:/s/Version: (.*:)?(.*)-(.*)/\2/p')
DESTDIR	= $(CURDIR)/debian/tmp

%:
	dh $@ --with dkms

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_auto_build:
	make -C library
	mv library/libevdi.so library/libevdi.so.0
	ln -s libevdi.so.0 library/libevdi.so

override_dh_auto_clean:
	make -C library clean
	rm -f library/libevdi.so*

override_dh_auto_install:
	# evdi
	install -D -m 644 -t "$(DESTDIR)/usr/lib/$(DEB_HOST_MULTIARCH)" library/libevdi.so.0
	ln -s libevdi.so.0 "$(DESTDIR)/usr/lib/$(DEB_HOST_MULTIARCH)/libevdi.so"
	# evdi-dev
	install -D -m 644 -t "$(DESTDIR)/usr/include/" library/*.h
	# evdi-dkms
	install -D -m 644  -t "$(DESTDIR)/usr/src/evdi-$(VERSION)" module/*.h module/*.c module/Makefile

# do nothing
override_dh_auto_configure:
override_dh_auto_test:
