#!/usr/bin/make -f

#export DH_VERBOSE=1

VERSION	:= $(shell dpkg-parsechangelog | sed -nr '/^Version:/s/Version: (.*:)?(.*)-(.*)/\2/p')

%:
	dh $@ --with dkms

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_auto_build:
	make -C library
	mv library/libevdi.so library/libevdi.so.0
	ln -s libevdi.so.0 library/libevdi.so

override_dh_auto_clean:
	make -C library clean

override_dh_auto_install:
	# evdi-dkms
	dh_install module/*.h module/*.c module/Makefile usr/src/evdi-$(VERSION)/
	# evdi
	dh_install library/libevdi.so* usr/lib/$(DEB_HOST_MULTIARCH)

# do nothing
override_dh_auto_configure:
override_dh_auto_test:
